<nav
  class="fixed z-50 top-0 w-full flex justify-center border border-transparent border-b-action bg-screen"
>
  <div class="container h-full flex items-center justify-between w-full p-2">
    <a routerLink="/" class="flex items-center gap-2">
      <lucide-icon name="Bug" class="h-12 w-12 text-primary"></lucide-icon>
      <h1
        class="font-bold text-4xl bg-clip-text text-transparent bg-gradient-to-r from-purple-300 to-primary"
      >
        Bug Ticket
      </h1>
    </a>
    <a
      routerLink="/login"
      class="flex items-center gap-2 cursor-pointer hover:scale-105 active:scale-95 text-white hover:text-error duration-100"
    >
      <lucide-icon name="log-out"></lucide-icon>
      <h2>LogOut</h2>
    </a>
  </div>
</nav>
