<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center flex-col md:flex-row gap-2">
    <div class="flex gap-2 items-center text-hover">
      <i class="fa-solid fa-bug"></i>
      <h1 class="text-xl font-bold">Project Bugs</h1>
    </div>
    <button
      class="flex items-center justify-center md:justify-normal gap-1 text-white px-6 py-2 rounded-md bg-primary hover:bg-primary/80 transition-all duration-200 ease-in-out active:scale-95"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-plus-icon lucide-plus"
      >
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>
      <span class="font-medium">Add Bug</span>
    </button>
  </div>
  <span class="text-gray-400 text-sm">List of bugs in this project</span>
  <!-- Bug Table -->
  <div class="overflow-auto scrollbar-hide">
    <table class="w-full text-sm text-center border-collapse overflow-x-hidden">
      <thead>
        <tr class="text-gray-300 border-b border-action">
          <th class="py-3">Title</th>
          <th class="py-3">Status</th>
          <th class="py-3">Priority</th>
          <th class="py-3">Assigned To</th>
          <th class="py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bug of bugs" class="border-b border-action">
          <!-- Title -->
          <td class="px-4 py-3">
            <div
              class="flex items-center gap-2 text-left whitespace-normal break-words max-w-[200px] mx-auto"
            >
              <span class="w-2 h-2 bg-purple-500 rounded-full shrink-0"></span>
              <span class="truncate whitespace-nowrap">{{ bug.title }}</span>
            </div>
          </td>

          <!-- Status -->
          <td class="px-4 py-3">
            <span
              [ngClass]="{
              'text-cancelled': bug.status === 'New',
              'text-inprogress': bug.status === 'In Progress',
              'text-onhold': bug.status === 'Closed',
              'text-completed': bug.status === 'Resolved',
              'text-orange-500': bug.status === 'Reopened',
              'text-planning': bug.status === 'Assigned',
            }"
              class="px-2 py-1 rounded-full text-xs font-semibold inline-block"
            >
              {{ bug.status }}
            </span>
          </td>

          <!-- Priority -->
          <td class="px-4 py-3">
            <span
              [ngClass]="{
                'bg-planning ': bug.priority === 'Medium',
                'bg-cancelled': bug.priority === 'High',
                'bg-completed ': bug.priority === 'Low',
                'bg-inprogress ': bug.priority === 'Critical'
              }"
              class="px-2 py-1 rounded-full text-xs font-semibold inline-block"
            >
              {{ bug.priority }}
            </span>
          </td>

          <!-- Assigned To -->
          <td class="px-4 py-3">{{ bug.assignedTo || "Unassigned" }}</td>

          <!-- Actions -->
          <td class="px-4 py-3">
            <div class="flex justify-center gap-3 text-sm">
              <i
                class="fa-solid text-primary cursor-pointer fa-pen-to-square active:scale-95"
              ></i>
              <i
                class="fa-solid fa-comment-dots text-inprogress cursor-pointer hover:text-blue-300 active:scale-95"
              ></i>
              <i
                class="fa-solid fa-file-arrow-up text-yellow-400 cursor-pointer hover:text-yellow-300 active:scale-95"
              ></i>
              <svg
                (click)="$event.stopPropagation()"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-trash-icon lucide-trash text-error w-5 h-4 hover:text-red-600 cursor-pointer transition-all duration-200 ease-in-out active:scale-90"
              >
                <path d="M3 6h18" />
                <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
              </svg>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /Bug Table -->
</div>
