<div
  class="container flex flex-col max-w-7xl mx-auto min-h-screen gap-10 py-16 px-6"
>
  <!-- user-Data -->
  <app-user-role />
  <!-- end user -->

  <!-- filtering & search -->
  <section
    class="flex flex-col md:flex-row md:items-center md:justify-between gap-2 w-full"
  >
    <!-- Add project for admin -->
    <app-add-btn (projectCreated)="onProjectCreated()" />
    <!-- /Add project for admin -->

    <!-- right section -->
    <app-filter 
      (filterChange)="onFilterChange($event)"
      (searchChange)="onSearchChange($event)"
    />
    <!-- /right section -->
  </section>
  <!-- /filtering & search -->

  <!-- projects list -->
  <app-project 
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    (paginationChange)="onPaginationChange($event)"
  />
  <!-- /project-list -->

  <!-- pagination -->
  <app-pagination 
    [paginationInfo]="paginationInfo"
    (pageChange)="onPageChange($event)"
  />
  <!-- /pagination -->

</div>