<section class="p-4 flex flex-col gap-4 border border-action rounded-md">
  <!-- name & Edit button -->
  <div class="flex justify-between items-center flex-col md:flex-row gap-2">
    <h1 class="text-3xl font-bold text-hover">Project Name</h1>
    <button
      class="border border-action text-white px-8 py-2 rounded-md hover:bg-action active:scale-95"
    >
      Edit Project
    </button>
  </div>
  <!-- description -->
  <p class="text-gray-500">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
  </p>
</section>
